In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
df = pd.read_csv(
    r"C:\Users\hp r5\OneDrive\Desktop\Fintect System\Advance-Fintech-System\data\nse_data\Quote-Equity-RELIANCE-EQ-17-01-2025-17-01-2026.csv",
    encoding="utf-8"
)

In [ ]:
df.head(10)

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO. OF TRADES
0,16-Jan-2026,EQ,"1,458.80","1,480.00","1,455.10","1,458.80","1,461.00","1,457.90","1,464.15","1,611.80","1,114.85",17167161,"25,13,52,47,618.00",289037
1,14-Jan-2026,EQ,"1,444.00","1,467.00","1,440.20","1,452.80","1,458.80","1,458.80","1,458.22","1,611.80","1,114.85",8321764,"12,13,49,50,551.20",167816
2,13-Jan-2026,EQ,"1,485.00","1,485.80","1,444.70","1,483.20","1,456.90","1,452.80","1,457.67","1,611.80","1,114.85",13499760,"19,67,81,31,155.40",289198
3,12-Jan-2026,EQ,"1,475.30","1,485.30","1,451.00","1,475.30","1,484.00","1,483.20","1,469.79","1,611.80","1,114.85",8883745,"13,05,72,59,395.40",236827
4,09-Jan-2026,EQ,"1,465.00","1,479.90","1,465.00","1,470.60","1,476.00","1,475.30","1,472.13","1,611.80","1,114.85",8335311,"12,27,06,72,520.90",237412
5,08-Jan-2026,EQ,"1,500.00","1,503.90","1,468.80","1,504.20","1,470.70","1,470.60","1,477.72","1,611.80","1,114.85",16518684,"24,41,00,37,550.10",443727
6,07-Jan-2026,EQ,"1,510.00","1,520.00","1,498.00","1,507.60","1,505.10","1,504.20","1,506.81","1,611.80","1,114.85",11199340,"16,87,52,53,099.50",302077
7,06-Jan-2026,EQ,"1,569.00","1,569.00","1,496.30","1,578.10","1,508.90","1,507.60","1,516.17","1,611.80","1,114.85",27417125,"41,56,90,80,602.20",583917
8,05-Jan-2026,EQ,"1,593.00","1,611.80","1,575.30","1,592.30","1,577.00","1,578.10","1,589.36","1,611.80","1,114.85",8704973,"13,83,53,33,400.10",227204
9,02-Jan-2026,EQ,"1,580.00","1,594.60","1,578.20","1,575.60","1,593.00","1,592.30","1,589.16","1,594.60","1,114.85",6602230,"10,49,19,99,169.40",156023

In [ ]:
df.shape

(248, 14)

In [ ]:
df.describe()

             VOLUME  NO. OF  TRADES
count  2.480000e+02      248.000000
mean   1.124192e+07   240014.342742
std    4.917789e+06   105941.376649
min    2.066169e+06    81976.000000
25%    7.841114e+06   179463.000000
50%    1.018406e+07   215203.000000
75%    1.347097e+07   269837.250000
max    3.253897e+07   893347.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            248 non-null    object
 1   SERIES          248 non-null    object
 2   OPEN            248 non-null    object
 3   HIGH            248 non-null    object
 4   LOW             248 non-null    object
 5   PREV. CLOSE     248 non-null    object
 6   LTP             248 non-null    object
 7   CLOSE           248 non-null    object
 8   VWAP            248 non-null    object
 9   52W H           248 non-null    object
 10  52W L           248 non-null    object
 11  VOLUME          248 non-null    int64
 12  VALUE           248 non-null    object
 13  NO. OF  TRADES  248 non-null    int64
dtypes: int64(2), object(12)
memory usage: 27.2+ KB